@model TaskManagementSystem.Models.Tasks


<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="table">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NEmployee.SEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
